flow.json
[{"id":"127054b0.28c8b3","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"cf5f050a.2c71f","type":"watson-speech-to-text","z":"127054b0.28c8b3","name":"","alternatives":"","speakerlabels":false,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustomhidden":"","band":"BroadbandModel","bandhidden":"","password":"FUCbl5WWa5C1","payload-response":false,"streaming-mode":false,"streaming-mute":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"","x":396,"y":80,"wires":[["dbb6a164.51b78"]]},{"id":"dbb6a164.51b78","type":"function","z":"127054b0.28c8b3","name":"set payload","func":"msg.payload = msg.transcription;\nmsg.params = {};\nif(global.get('context')) {\n    msg.params.context = global.get('context');\n} else {\n    msg.params.context = {};\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":220,"wires":[["b56b3f76.29a32","bab757e9.474b38"]]},{"id":"e687965f.973418","type":"microphone","z":"127054b0.28c8b3","name":"","x":150,"y":80,"wires":[["cf5f050a.2c71f"]]},{"id":"b56b3f76.29a32","type":"debug","z":"127054b0.28c8b3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":360,"wires":[]},{"id":"bab757e9.474b38","type":"watson-conversation-v1","z":"127054b0.28c8b3","name":"","workspaceid":"17f1b404-d370-45d0-a554-16f917c09d7c","multiuser":false,"context":false,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":440,"y":200,"wires":[["bfe9fa96.560ac8","fc3e4858.8a9aa8"]]},{"id":"2727e803.15eba8","type":"debug","z":"127054b0.28c8b3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":180,"wires":[]},{"id":"bfe9fa96.560ac8","type":"function","z":"127054b0.28c8b3","name":"Extract text","func":"if (msg.payload.context.system.branch_exited) {\n    msg.payload.context = {};\n}\n\nglobal.set('context', msg.payload.context);\n\nmsg.payload = msg.payload.output.text[0];\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":180,"wires":[["2727e803.15eba8","53e31b9a.f6efd4"]]},{"id":"fc3e4858.8a9aa8","type":"debug","z":"127054b0.28c8b3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":300,"wires":[]},{"id":"53e31b9a.f6efd4","type":"watson-text-to-speech","z":"127054b0.28c8b3","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"en-US_MichaelVoice","format":"audio/wav","password":"","apikey":"","payload-response":true,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":841.5,"y":279,"wires":[["bf535c9f.2f9e7"]]},{"id":"bf535c9f.2f9e7","type":"play audio","z":"127054b0.28c8b3","name":"","voice":"","x":1041.5,"y":375,"wires":[]}]
